$white-color: #fafafa;
$black-color: #000000;

$darkblue-color: #004254;
$lightblue-color: #03657c;
$blue-gray-color: #f8fbfb;

$skyblue-color: #37abb2;

$yellow-color: #fbbb21;

$transparentgray-color: #d6dde180;
$lightgray-color: #7a7a7a;
$gray-color: #e8e8e8;
$darkgray-color: #333333;

$error-color: #d56062;
$success-color: #1cb381;

$green-color: #005e3a;
$lightgreen-color: #4c7953;
$lightgreen-opacity-color: rgba(76, 121, 83, 0.8);

$separator-color: #825ab1;
$light-purple-opacity-color: rgba(130, 90, 177, 0.8);
$lightpurple-color: rgb(130, 90, 177);

$font-gray-color: #7a7a7a;
$font-dark-color: #333333;

$lima-color: #a3d217;
$purple-color: #522398;
$purple-opacity-color: rgba(82, 35, 152, 0.6);
