$white-color: #fff;
$black-color: #000;

$darkblue-color: #004254;
$lightblue-color: #03657c;
$blue-gray-color: #f8fbfb;

$skyblue-color: #37abb2;

$yellow-color: #fbbb21;

$transparentgray-color: #d6dde180;
$lightgray-color: #ececec;
$gray-color: #e8e8e8;
$darkgray-color: #63656a;

$error-color: #d56062;
$success-color: #1cb381;
