@import 'fonts';
@import 'colors';

$footer-height: 56px;
$separator-height: 3rem;
$navbar-width: 56px;
$generic-header-height: 63px;

$padding-top-table: 1em;
$paginator-height: 56px;

$radius-card: 10px;
