<div>
  <app-http-spinner></app-http-spinner>
  <app-navbar></app-navbar>
  <div class="content">
    <div class="content__section">
      <router-outlet (activate)="onActivate()"></router-outlet>
      <div class="separator"></div>
      <footer>
        <app-footer></app-footer>
      </footer>
      <div class="footer container">
        <p>
          © {{ currentYear }} {{ "titles.web" | translate }}.
          {{ "footer.rights_reserved" | translate }}.
        </p>
      </div>
    </div>
  </div>
</div>
<ng-template #spinner>
  <app-http-spinner></app-http-spinner>
</ng-template>
<p-confirmDialog styleClass="error" key="errorDialog" #errorDialog>
  <p-footer>
    <button class="prime-btn" (click)="errorDialog.accept()">
      {{ "generic.accept" | translate }}
    </button>
  </p-footer>
</p-confirmDialog>
