<div class="header header__title">
  <label>
    <h1>{{ "titles.contact" | translate | uppercase }}</h1>
    <hr />
  </label>
</div>
<form [formGroup]="contactForm">
  <div class="form">
    <label class="field">
      <span class="form__field">{{ "generic.fullname" | translate }}</span>
      <span
        appMarkAsterisk
        [formGroup]="contactForm"
        [controlName]="'fullname'"
      ></span>
      <input
        class="form__field"
        type="text"
        pInputText
        formControlName="fullname"
      />
    </label>

    <label class="field">
      <span class="form__field">{{ "sections.contact.case" | translate }}</span>
      <span
        appMarkAsterisk
        [formGroup]="contactForm"
        [controlName]="'case'"
      ></span>
      <input
        class="form__field"
        type="text"
        pInputText
        formControlName="case"
      />
    </label>

    <label class="field">
      <span class="form__field">{{
        "sections.contact.reason" | translate
      }}</span>
      <span
        appMarkAsterisk
        [formGroup]="contactForm"
        [controlName]="'reason'"
      ></span>
      <p-dropdown
        class="dropdown"
        formControlName="reason"
        placeholder="{{ 'sections.contact.select_reason' | translate }}"
        appendTo="body"
      ></p-dropdown>
    </label>

    <label class="field">
      <span class="form__field">{{ "generic.email" | translate }}</span>
      <span
        appMarkAsterisk
        [formGroup]="contactForm"
        [controlName]="'email'"
      ></span>
      <input
        class="form__field"
        type="email"
        pInputText
        formControlName="email"
      />
    </label>

    <label class="field">
      <span class="form__field">{{
        "sections.contact.description" | translate
      }}</span>
      <span
        appMarkAsterisk
        [formGroup]="contactForm"
        [controlName]="'description'"
      ></span>
      <textarea pInputTextarea formControlName="description"></textarea>
    </label>
    <div
      [ngClass]="!submitted ? 'hidden' : 'visible'"
      class="center-text robotopo"
    >
      <span [ngClass]="!error ? 'success' : 'error'">{{
        responseMessage
      }}</span>
    </div>
    <div class="actions">
      <button
        class="secondary-btn"
        type="submit"
        [disabled]="isLoading"
        (click)="onSubmit()"
      >
        {{ "generic.send" | translate | uppercase }}
      </button>
      <button class="ternary-btn" (click)="contactForm.reset()">
        {{ "generic.clean" | translate | uppercase }}
      </button>
      <input formControlName="honeypot" class="hidden" type="text" />
    </div>
  </div>
</form>
