@import "../../shared/styles/theme/vars.scss";

.hidden {
  display: none;
}
.visible {
  display: block;
}
.center-text {
  text-align: center;
}

.robotopo {
  font-family: $roboto-bold;
  font-weight: bold;
}

hr {
  border-top: 3px solid $separator-color;
  width: 100px;
  border-radius: 5px;
  margin-top: 0.8rem;
}

.header {
  text-align: center;

  &__title {
    margin: 1rem 0;
  }

  &__description {
    width: calc(100% - 1100px);
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-bottom: 3rem;
  }

  > p {
    font-size: 20px;
  }
}

.form {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 2rem;

  &__field {
    font-family: $roboto-regular;
    color: $darkgray-color;
  }
}

.error {
  color: $error-color;
}
.success {
  color: $success-color;
}

.actions {
  display: flex;
  padding: 3rem 0;
  justify-content: center;
}

textarea {
  resize: none;
  min-height: 200px;
}

button {
  margin-right: 1rem;
}

::ng-deep body .p-dropdown {
  max-width: 1000px;
  height: 39px;
}
