@import "../../styles/theme/vars.scss";
.image {
  border-radius: 8px;
  min-width: 170px;
  min-height: 170px;
}

.image-content {
  margin-right: 2rem;
  max-width: 150px;
  max-height: 150px;
}

.price {
  font-size: 2rem;
  color: $green-color;
  font-family: $roboto-bold;
  margin-bottom: 1rem;
}

:host {
  ::ng-deep {
    .card-experience {
      border-radius: 8px;
      margin-top: 4rem;
      margin-bottom: 2rem;
      max-width: 40em;
      max-height: 170px;
    }

    .p-card {
      box-shadow: none;
      background-color: transparent;
    }

    .p-card:hover {
      --tw-shadow: 0px 4px 25px 2px rgba(70, 70, 70, 0.2);
      box-shadow: 0 0 transparent, 0 0 transparent, var(--tw-shadow);
      cursor: pointer;
    }

    .p-card .p-card-content {
      padding: 0;
      display: flex;
    }

    h3 {
      margin-top: 0;
      color: $lightpurple-color;
    }

    .experience-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 40em) {
    .experience-details h2 {
      font-size: 15px;
    }

    .exp-desc {
      display: none;
    }
  }
}
