<div class="header header__title">
  <label>
    <h1>{{ "privacy_policy.title" | translate | uppercase }}</h1>
    <hr />
  </label>
</div>
<div class="header header__description">
  <span>
    {{ "privacy_policy.l1" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l2" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l3" | translate }}
  </span>
</div>

<div class="header header__title">
  <label>
    <h1>{{ "privacy_policy.t1" | translate | uppercase }}</h1>
    <hr />
  </label>
</div>
<div class="header header__description">
  <span>
    {{ "privacy_policy.l4" | translate }}
  </span>
</div>

<div class="header header__title">
  <label>
    <h1>{{ "privacy_policy.t2" | translate | uppercase }}</h1>
    <hr />
  </label>
</div>
<div class="header header__description">
  <span>
    {{ "privacy_policy.l5" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l6" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l7" | translate }}
  </span>
</div>

<div class="header header__title">
  <label>
    <h1>{{ "privacy_policy.t3" | translate | uppercase }}</h1>
    <hr />
  </label>
</div>
<div class="header header__description">
  <span>
    {{ "privacy_policy.l8" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l9" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l10" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l11" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l12" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l13" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l14" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l15" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l16" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l17" | translate }}
  </span>
</div>

<div class="header header__title">
  <label>
    <h1>{{ "privacy_policy.t4" | translate | uppercase }}</h1>
    <hr />
  </label>
</div>
<div class="header header__description">
  <span>
    {{ "privacy_policy.l18" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l19" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l20" | translate }}
  </span>
</div>

<div class="header header__title">
  <label>
    <h1>{{ "privacy_policy.t5" | translate | uppercase }}</h1>
    <hr />
  </label>
</div>
<div class="header header__description">
  <span>
    {{ "privacy_policy.l21" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l22" | translate }}
  </span>
</div>

<div class="header header__title">
  <label>
    <h1>{{ "privacy_policy.t6" | translate | uppercase }}</h1>
    <hr />
  </label>
</div>
<div class="header header__description">
  <span>
    {{ "privacy_policy.l23" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l24" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l25" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l26" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l27" | translate }}
  </span>
</div>

<div class="header header__title">
  <label>
    <h1>{{ "privacy_policy.t7" | translate | uppercase }}</h1>
    <hr />
  </label>
</div>
<div class="header header__description">
  <span>
    {{ "privacy_policy.l28" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l29" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l30" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l31" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l32" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l33" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l34" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l35" | translate }}
  </span>
</div>

<div class="header header__title">
  <label>
    <h1>{{ "privacy_policy.t8" | translate | uppercase }}</h1>
    <hr />
  </label>
</div>
<div class="header header__description">
  <span>
    {{ "privacy_policy.l36" | translate }}
  </span>
  <span>
    {{ "privacy_policy.l37" | translate }}
  </span>
</div>
