<div class="card">
  <p-card header="{{ header }}">
    <ng-template pTemplate="header">
      <img
        alt="{{ header }}"
        src="https://raw.githubusercontent.com/DiegoS3/ConoceElDestinoWeb/384bd13adac52dcf130108eea959d0e5aa7180b1/ConoceElDestino/src/assets/showcase/images/{{
          product.image
        }}"
      />
    </ng-template>
    <p>
      {{ product.shortDescription }}
    </p>
    <ng-template pTemplate="footer">
      <button class="prime-btn" (click)="onAccess()">
        {{ "button.access" | translate }}
      </button>
    </ng-template>
  </p-card>
</div>
