@import "vars";

.footer {
  --tw-bg-opacity: 1;
  background-color: rgb(18 18 18 / var(--tw-bg-opacity));
  height: $footer-height;
  line-height: $footer-height;
  text-align: center;
  vertical-align: middle;

  > p {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
}

a {
  --tw-text-opacity: 1;
  color: rgb(75 75 75 / var(--tw-text-opacity));
  font-size: 1rem;
  font-weight: 500;
}

li {
  width: 10rem;
  margin-top: 1rem;
}

.margin {
  margin: 0 6rem;
  &__left {
    margin-left: 6rem;
  }

  &__right {
    margin-right: 6rem;
  }

  &__bottom {
    margin-bottom: 2rem;
  }
}

.separator {
  background-color: $separator-color;
  height: $separator-height;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .info-footer {
    // margin: 2rem 0;
    padding: 1.5rem 3rem;

    &__child {
      display: grid;
      justify-content: center;
    }
  }

  // .divider {
  //   &__vertical {
  //     display: none;
  //   }
  // }
}

@media only screen and (min-width: 946px) {
  /* For desktop: */
  .info-footer {
    // margin: 2rem 0;
    padding: 1.5rem 3rem;

    &__child {
      display: flex;
      justify-content: center;
    }
  }

  // .divider {
  //   &__horizontal {
  //     display: none;
  //   }
  // }
}
