@import 'vars';

.info-footer {
    // margin: 2rem 0;
    padding: 1.5rem 3rem;
}

.footer {
    --tw-bg-opacity: 1;
    background-color: rgb(18 18 18/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    height: $footer-height;
    padding: 2rem;
    justify-content: space-between;
}

.separator {
    background-color: $separator-color;
    height: $separator-height;
}