@import 'vars';

.info-footer {
    // margin: 2rem 0;
    padding: 1.5rem 3rem;
}

.footer {
    background-color: black;
    height: $footer-height;
}

.separator {
    background-color: $separator-color;
    height: $separator-height;
}