@import 'theme';
@import 'vars';

.p-menubar {
  padding: 0.5rem;
  background: none !important;
  color: #fff !important;
  border: none !important;
  border-radius: 3px;
}


.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
  color: #fff !important;
}
.p-menubar .p-menuitem-link .p-menuitem-text :hover{
    color: #fff !important;
    background: none !important;
}
// html {
//   font-size: $text-font-size;
//   font-family: $primary-font;
// }

.font-semibold {
  font-weight: 700;
}

.flex {
  display: flex;    
}

.uppercase {
  text-transform: uppercase;
}

body {
  h2,
  h3,
  h4 {
    margin: 1em 0;
    color: $darkgray-color;
    font-family: $roboto-regular;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;    
  }
  h4 {
    font-size: 14px;
  }

  b, p, a{
    font-family: $roboto-regular;
  }

  p {
    font-size: 14px;
  }

  a {
    text-decoration: inherit;
  }

  ::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d8d8d8;
    border-radius: 8px;
  }
}

.center-content {
  justify-content: center;
}

@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("./assets/fonts/RobotoCondensed-Regular.ttf");
}

