<div *ngFor="let item of carouselData">
    <p-carousel [value]="item.content" [numVisible]="5" [numScroll]="1" [circular]="true" [showIndicators]="false"
        [responsiveOptions]="responsiveOptions" styleClass="carousel">
        <ng-template pTemplate="header">
            <h5>{{item.header | translate}}</h5>
        </ng-template>
        <ng-template let-content pTemplate="item">    
            <div class="product-item">
                <div class="product-item-content">
                    <div class="container">
                        <img src="https://raw.githubusercontent.com/DiegoS3/ConoceElDestinoWeb/384bd13adac52dcf130108eea959d0e5aa7180b1/ConoceElDestino/src/assets/showcase/images/{{content.image}}"
                            [alt]="content.name" class="product-image" />
                        <div class="text-data">
                            <h5 class="text-data__title">{{content.name | uppercase}}</h5>
                            <p class="text-data__description">{{content.description}}</p>
                        </div>
                    </div>
                    <div class="footer-section">
                        <span>
                            <span class="footer-section__title">{{"carousel.prize" | translate}}</span>
                            <span class="footer-section__price">{{content.price |
                                currency:'EUR':'symbol':'1.2-2':'es'}}</span>
                        </span>
                        <button class="secondary-btn" style="margin-right: 1rem;">
                            {{"button.reserve" | translate | uppercase}}
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>