@import "../../shared/styles/theme/colors.scss";

hr {
  border-top: 3px solid $separator-color;
  width: 100px;
  border-radius: 5px;
  margin-top: 0.8rem;
}

.header {
  text-align: center;

  &__title {
    margin: 1rem 0;
  }

  &__description {
    min-width: calc(100% - 1100px);
    max-width: calc(100% - 1100px);
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-bottom: 3rem;
  }

  > p {
    font-size: 20px;
  }
}

.carousel {
  margin-top: 3rem;
  .first {
    margin-top: 0;
  }
}

.carousel:last-child {
  margin-bottom: 3rem;
}

// Responsive smartphone
@media screen and (max-width:767px) {
  .header {
    &__title {
      margin: 0.5rem 0;
    }

    &__description {
      max-width: calc(100vh - 500px);
    }

    > p {
      font-size: 14px;
    }
  }
}

// Responsive tablet
@media screen and (min-width:767px) and (max-width:1023px) {
  .header {
    &__description {
      max-width: calc(100vh - 450px);
    }
  }
}
