<div>
  <app-carousel></app-carousel>
  <div class="header header__title">
    <label>
      <h1>{{ "titles.find_experience" | translate | uppercase }}</h1>
      <hr />
    </label>
  </div>
  <div class="header header__description">
    <p>
      {{ "sections.services.description" | translate }}
    </p>
  </div>
  <div *ngFor="let carousel of services; index as i; first as isFirst">
    <div
      *ngIf="carousel.content!.length > 0"
      [ngClass]="isFirst ? 'carousel.first' : 'carousel'"
    >
      <app-generic-carousel-products
        [carouselData]="carousel"
      ></app-generic-carousel-products>
    </div>
  </div>
</div>
