@import "../../styles/theme/vars.scss";

.product-item {
  .product-item-content {
    text-align: center;
    height: 40em;
  }

  .product-image {
    width: 100%;
  }
}

.p-carousel {
  width: 100%;
}

.p-carousel-item {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 250px;
}

.p-carousel-items {
  width: 100%;
}

.p-carousel-viewport {
  width: 100%;
}

.label {
  font-size: 2.5rem;
  position: absolute;
  bottom: 60px;
  text-align: start;
  color: $white-color;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: start;
  font-weight: 700;
  padding: 0 1rem;
}

.btn-carousel {
  align-items: center;
  position: absolute;
  display: flex;
  bottom: 25px;
  text-align: start;
  width: fit-content;
  padding: 0 1rem;
  color: $white-color;
  margin-left: 20px;
}

.btn-carousel,
.pi.pi-angle-right {
  font-size: 1.5rem;
  font-weight: 600;
}

.pi.pi-angle-right {
  margin-top: auto;
}

.p-button {
  background: none;
  border: none;
  padding-left: 0px;
}

.p-button,
.p-button:hover,
.p-button:active,
.p-button:focus {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.flex {
  flex: 1 1;
}

.font-semibold {
  font-weight: 600;
}
.block {
  display: block;
}

.pi.pi-angle-right {
  font-size: 1.5rem;
}

::ng-deep {
  .p-carousel .p-carousel-indicators .p-carousel-indicator button {
    background-color: #e9ecef;
    width: calc((100vw - 10em) / 4);
    max-width: 10em;
    height: 0.2rem;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
    border-radius: 0;
  }

  .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: #4c1e80;
  }

  .p-link:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 500px) {
  .product-item {
    max-height: 20rem;
    .product-item-content {
      text-align: center;
      height: auto;
    }

    .product-image {
      width: 100%;
      height: auto;
    }
  }
  .responsive {
    width: 100%;
    height: auto;
  }

  .label {
    font-size: 1rem;
  }

  .btn-carousel,
  .pi.pi-angle-right {
    font-size: 0.8rem;
    font-weight: 600;
  }

  .pi.pi-angle-right {
    margin-top: auto;
  }

  .btn-carousel {
    align-items: center;
    position: absolute;
    width: fit-content;
    display: flex;
    bottom: 23px;
    padding: 0 1rem;
  }
}
