@import "../../../shared/styles/theme/vars.scss";

.contents {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12rem;
  padding-right: 12rem;
  max-width: 120rem;
  display: flow-root;
}

.content-right {
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

.details {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;

  &__child {
    margin-top: 2rem;
    font-size: 1rem;
    display: flex;
  }
}

.section {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  width: 840px;

  &__title_section {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: $roboto-bold;
  }

  &__desc_section {
    margin-top: 1.5rem;
    line-height: 2;
    font-size: 1.1rem;
  }
}

li {
  line-height: 1.625;
  font-size: 1.1rem;
  font-family: $roboto-regular;
}

.italic {
  font-weight: 300;
  font-style: italic;
  margin: 0.5rem 0;
}

.option {
  margin-top: 1rem;
  margin-right: 2rem;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  font-weight: bold;
}

.availability-btn {
  width: 100%;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  font-size: 1rem;
}

.service-image {
  height: 560px;
  width: 840px;
  border-radius: 0.5rem;
}

.body {
  margin: 2.5rem 0;
  display: flex;
}

.text-price {
  display: grid;
  justify-content: center;
  grid-template-columns: 30px 40px 120px;
  align-items: baseline;
  margin-top: 1rem;

  &__icon {
    display: flex;
    min-width: 20px;

    .pi.pi-users {
      font-size: 1.2rem;
    }
  }

  &__price {
    justify-self: flex-end;
  }
}

.body-left {
  width: 66%;
}

.body-right {
  width: 33%;
}

.bold {
  font-family: $roboto-bold;
  font-size: 1.5rem;
  font-weight: 500;
}

.months {
  min-width: 16rem;
  max-width: 16rem;

  &__season {
    width: 7rem;
    padding-right: 0.5rem;
  }
}

::ng-deep .p-rating .p-rating-icon {
  cursor: default;
}

::ng-deep .p-rating {
  margin-top: 1.5rem;
}

::ng-deep .p-rating .p-rating-icon.pi-star-fill {
  color: $green-color;
}

::ng-deep .p-rating .p-rating-icon.pi-star {
  color: $light-purple-opacity-color;
}

@media screen and (max-width: 500px) {
  .contents {
    padding: 0 1rem;
  }

  .service-image {
    max-height: 360px;
    max-width: 350px;
  }

  .body {
    display: grid;
  }

  .section {
    max-width: 350px;
  }

  .content-right,
  .details {
    min-width: 350px;
    max-width: 350px;
  }

  .details {
    justify-content: center;
    > h3 {
      text-align: center;
    }
  }

  hr {
    min-width: 350px;
    max-width: 350px;
  }

  .months {
    display: grid;
    justify-content: center;
    min-width: 10rem;
    max-width: 10rem;

    &__season {
      width: 7rem;
      padding-right: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  .option {
    display: flex;
    justify-content: center;
  }
}
